/**
 * Boilerplate ad styles.
 */

.advert {
	text-align: center; /* Oldschool centering technique. */
	position: relative; /* Just in case ad decides to `position: absolute;` without a `position: relative;` parent. */
	margin: .75em auto; /* Putting `auto` here to assist `.advert`s that have a width. */
}
	.advert * {
		/* http://meyerweb.com/eric/tools/css/reset/ */
		font-size: 100%;
		font: inherit;
		border: 0;
		margin: 0 auto;
		padding: 0;
		outline: 0;
	}
	.advert img {
		/* Responsive images: */
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		-ms-interpolation-mode: bicubic;
	}

/*--------------------------------------------------------------------*/

/**
 * Show/hide ads.
 */

.leaderboard_728 { display: none; }
@media only screen and (min-width: 1005px) {
	.leaderboard_320 { display: none; }
	.leaderboard_728 { display: block; }
}